input {
  beats {
    port => 5044
  }
}
filter {
    if "sysmon" in [tags] {
        mutate {
            rename => ["source.ip", "src_ip" ]
            rename => ["source.port", "src_port" ]
            rename => ["destination.ip", "dest_ip" ]
            rename => ["destination.port", "dest_port" ]
            rename => ["network.transport", "protocol"]
            rename => ["network.community_id","community_id"]
        }
        mutate {
            remove_field => ["ecs","input","agent","log","host","message"]
        }
    }
}
output {
 	if "sysmon" in [tags] {
    	elasticsearch {
      		hosts => ["https://elasticsearch:9200"]
      		index => "sysmon-%{+YYYY.MM.dd}"
            user => "elastic"
            password => "changeme"
            ssl_certificate_verification => false
    	}
  	}
    else {
        elasticsearch {
            hosts => ["https://elasticsearch:9200"]
            index => "%{[@metadata][beat]}-%{[metadata][version]}-%{+YYYY.MM.dd}"
            user => "elastic"
            password => "changeme"
            ssl_certificate_verification => false
        }
    }
}
